<div class="container mx-auto clearfix mt-2 mt-lg-4 px-2">
  <div class="border-top-thick">
    <p class="col-8 sm-width-full left py-2 mb-0">This project is maintained by <a class="text-accent" href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a></p>
    <ul class="list-reset right clearfix sm-width-full py-2 mb-2 mb-lg-0">
      <li class="inline-block mr-1">
          <a href="https://www.linkedin.com/in/ingrid-hsu/" target="_blank" class="linkedin-link" aria-label="LinkedIn Profile">
            <img src= "{{'/assets/images/linkedin-icon.png' | relative_url }}" style="width: 30px; height: 30px;"/>
          </a>
        </li>
        <li class="inline-block mr-1">
          <a href="https://github.com/{{ site.github_username }}" target="_blank" class="github-link" aria-label="GitHub Profile">
            <img src="{{ '/assets/images/github-icon.png' | relative_url }}" style="width: 30px; height: 30px;"/>
          </a>
        </li>
        <li class="inline-block mr-1">
          <a href="mailto:ingridhsu8@gmail.com" class="email-link" aria-label="Email">
            <img src="{{ '/assets/images/email-icon.png' | relative_url }}" alt="ingridhsu8@gmail.com" style="width: 30px; height: 30px;" />
          </a>
        </li>
        </li>
      </li>
    </ul>
  </div>
</div>
